@charset "UTF-8";
@import url(style.css);
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Montserrat&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

body {
    padding-top: 0;
    background-color: #FFFFFF; }

.navbar {
    background-color: none;!important;
    background: transparent;!important;
    position: relative;
    border: none;
}

header{
    position: absolute;
    width: 100%;
    top:0;

}
.main{
    background-image: url(../images/bg_header.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
}
.navbar-default.navbar-nav li a:hover, .navbar-default.navbar-nav li a:focus {
    border-top: 1px solid #7c8899;!important;
}
.navbar-my ul li{
    padding: 15px;
}

.navbar-my ul li a{
    color: #fff;
    padding: 10px!important;

}
.navbar-my ul li a:hover{
    color: #333;
    transition: 1s;
    padding: 10px;

}
.navbar-my ul li a{
    color: #4d4d4d;
    font: 16px/16px 'Asap';
    padding: 0;
    padding-bottom: 8px;
    padding-top: 8px;
}
.navbar-my .navbar-brand{
    color: #fff;
    padding-top: 30px;
}
.navbar-my .active{
    border-bottom: 1px solid #878787;
}
.about-me{
    margin-top: 130px;
    margin-bottom: 40px;
}
.about-me img{
    width: 100%;
    display: block;
}
.main h1 {
    font: 90px/90px 'Asap';
}
.know-more{
    position: absolute;
    top:40%;
    left:8%;
    right:8%;
    max-width: 600px;
}
.know-more p{
    font: 22px/22px 'Asap';
    color: #4d4d4d;
    margin-bottom: 30px;
}
.key{
    border: 1px solid #4d4d4d;
    font: 16px/16px 'Asap';
    color: #4d4d4d;
    padding: 20px 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: 2s;
}
.key:hover{
    text-decoration: none;
    background-color: gray;

}
.but{
    max-width: 100%;
}
h2 {
    font: bold 46px/46px 'Asap';
    margin-bottom: 70px;
    text-align: center;

}
.about-me p{
    font:16px/25px 'Asap';
}

.service{
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 148px;


}

h2:before{
    content: "";
    display: block;
    background-color: #767676;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
    height: 4px;
}
.service .col-sm-4{
    margin-bottom: 85px;
}
.skills{
    text-align: center;
    margin-top: 115px;
    margin-bottom: 30px;
}

.skills img{
    width: 100%;
    display: block;
}
.scale{
    transition: 1s;
}
.scale:hover {
    transform: scale(1.2);
}

.portfolio {
    background-color: #f6f6f6;
    padding-top: 127px;
    padding-bottom: 123px;
    text-align: center;
}
.portfolio img {
    width: 100%;
    display: block;
}

.portfolio .col-sm-4{
    padding-bottom: 30px;
}

.testimonials h3{
    font: 30px/30px 'Asap';
    text-transform: uppercase;
    margin-top: 0;
}
.testimonials{
    font: italic 12px/12px 'Asap';
    padding-top: 120px;

}
.testimonials .col-md-10 .col-sm-10{
    margin: auto;
}
.testimonials p{
    font: 16px/16px 'Asap';
    margin-top: 20px;
    line-height: 25px;
}
.owl-carousel{
    padding: 0px 60px 110px 90px;
}
.owl-dot:focus {
    outline: none;
}
.owl-dot.active span{
    background-color: black!important;
}
.owl-dot span:focus {

    background-color: black;
}
.owl-dots {
    position: relative;
    left: 50%;
    display: inline-block;
    margin-top: 50px;
}
.owl-dots span{
    display: inline-block;
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    position: relative;
    left:50%;
    margin-right: 4px;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 38px;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled:before{

}
.work{
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 65px;
    text-align: center;

}
#number{
    font: bold 30px/30px 'Asap';
    margin-top: 30px;
}
#number1{
    font: bold 30px/30px 'Asap';
    margin-top: 30px;
}
#number2{
    font: bold 30px/30px 'Asap';
    margin-top: 30px;
}
#number3{
    font: bold 30px/30px 'Asap';
    margin-top: 30px;
}
.work h3{
    font: 22px/22px 'Asap';
    text-transform: uppercase;
}
.form{
    background-image:

            linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('../images/bg_form.png');

    background-size: cover;
    padding-top: 140px;
}
.btn-success{
    background-color: #ffffff;
    background-image: none;
    border: none;
}
.form-control{
    height: 58px;
    padding: 22px 11px;
}

form{

    font: 16px/16px 'Asap';
    color: #212121;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 55px;
    text-align: center;
    cursor:pointer;
}

.email{
    padding-left: 0;
    padding-right: 30px;
    cursor:pointer;
}
.password{
    padding-left: 0;
    padding-right: 0;
    cursor:pointer;
}

textarea{
    resize: none;
    cursor:pointer;
}
.form-control{
    border-radius: 0;
    cursor:pointer;
}
.form-control:focus{
    border-color: #CCCCCC;
    outline: none;
    box-shadow: none;
}
.btn-primary{
    background-color: #ffffff;
    background-image: none;
    border: none;
    font: 16px/16px 'Asap';
    color: #4d4d4d;
    text-transform: uppercase;
    padding: 20px 32px;
    border-radius: 0;
}
.btn-primary:after{
    content: "\f04b";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-left: 5px;
}
.btn {
    background-color: #ffffff;
    border-radius: 0;
    color: #4d4d4d;
    margin-right: 9px;
    font-size: 16px;
}
.footer{
    padding-top: 25px;
    padding-bottom: 28px;
    font: 16px/16px 'Asap';
    color: #FFFFFF;
}
.social a:hover{
    background-color: #0084b4;
    color: #ffffff;
    transition: 1s;
}
.social{
    display: inline-block;
    text-align: left;
}
.footer p{
    margin-top: 10px;
}
#myList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px){
    .main h1 {
        font: 45px/45px 'Asap';
    }
    .know-more a{
        margin-bottom: 20px;
    }
    .about-me a{
        margin-bottom: 20px;
    }
    .owl-carousel{
        padding-left: 20px;
        padding-right: 20px;
    }
    .owl-dots{
        left: 40%;
    }
    .email{
        padding-right: 0;
    }
    .btn{
        margin-right: 3px;
    }
    .footer p{

        text-align: center;
    }
    .navbar-toggle:before{
        content: "\f0c9";
        display: inline-block;
        font: 25px/25px FontAwesome;
        text-rendering: auto;
    }
    .navbar-nav{
        background-color: black;
        margin-top: 20px;
        padding-bottom: 20px;

    }
    .navbar-my ul li a{
        color: #2b669a;
    }
    .navbar-my ul li{
        padding: 5px;
    }
    .nav.navbar-nav.navbar-right a:hover{
        background-color: #FFFFFF;
    }
    .navbar-toggle{
        margin-top: 28px!important;
    }
    .know-more{
        top:30%;
    }
    .about-me{
        margin-top: 40px;
    }
    .service{
        padding-top: 40px;
    }
    .skills{
        margin-top: 40px;
    }
    .portfolio{
        padding-top: 40px;
    }
    .testimonials{
        padding-top: 40px;
        padding-bottom: 40px;
    }
.portfolio .container{
    margin-right: 15px;
    margin-left: 15px;
}
}
@media only screen and (max-width: 360px){

}
@media only screen and (max-width: 320px){

}